.changePassword {
  @include modal;
  z-index: 99;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  &__box {
    width: 100%;
    max-width: 500px;
    background: #fff;
    border-radius: 5px;
    transform: translateY(-80px);
    opacity: 0;
    transition: transform 200ms;

    &.active {
      transform: translateY(0);
      opacity: 1;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 15px 20px;

    svg {
      font-size: 20px;
      cursor: pointer;
    }
  }
  &__body {
    padding: 15px 20px;
  }
}
